* {
    font-family: "Inter", sans-serif;
}

.card {
    background: #78B9EB;
}

.logo {
    max-width: 100%;
    height: auto;
}

.btn-i {
    background: #517D9E;
    font-size: 22px;
    color: #fff;
}

.btn-i:hover {
    background: #456C8D;
    color: #fff;
}

.btn-i:focus {
    background-color: #456C8D; 
    color: #fff;
    border: 1px solid #fff;
}

.btn-i:active:focus {
    background-color: #456C8D; 
    color: #fff;
}

.form-control {
    font-size: 18px;
    color: #2E475A;
    background: #FFF;
}

.form-control::placeholder {
    color: #2E475A;
}

label {
    color: #2E475A;
    font-size: 18px;
    font-weight: 500;
}

input {
    color: #2E475A;
}

#username, #password {
    height: 50px;
}

#passwordHelp {
    font-size: 16px;
    color: #2E475A;
}

#login-message {
    color: #2E475A;    
}

/* Register Form */
.register, .modal-title {
    color: #2E475A;
}

.btn-is {
    background: #517D9E;
    border: none;
}

nav {
    background-color: #78B9EB;
}

.menu {
    color: #2E475A;
}

#logoMenu {
    height: 120px;
}

#tasks {
    background-color: rgba(120, 185, 235, 0.4);
}

#exit {
    font-size: 50px;
}

.greeting {
    background-color: #3F627C;
}

#login, #name, #description {
    color: #fff;
}

#name {
    text-transform: uppercase;
}

.form-check-label {
    font-weight: normal;
}

/* Products Page */
.contProducts {
    background-color: rgba(120, 185, 235, 0.4);
}

.table thead th {
    color: #2E475A;
}

.table tbody th {
    vertical-align: middle;
    color: #3F627C;
}

.table tbody td {
    vertical-align: middle;
    color: #2E475A;
}

#titleProducts {
    color: #2E475A;
}

.btn-edit {
    width: 85px;
}

#updateProductModalLabel, #deleteConfirmationModalLabel, #addProductModalLabel, #deleteAlert {
    color: #2E475A;
}

.btn-add {
    padding: 10px;
    background: #456C8D;
    border: none;
    color: #fff;
}

.btn-add:hover {
    background: #2E475A;
    color: #fff;
}

.btn-add:focus {
    background-color: #2E475A; 
    color: #fff;
    border: 1px solid #fff;
}

.btn-add:active:focus {
    background-color: #2E475A; 
    color: #fff;
}

#help {
    font-weight: 500;
    color: #2E475A;
}

/* Support Page */
.cardSupport {
    background-color: rgba(120, 185, 235, 0.4);
}

#formSupport label {
    color: #2E475A;
}

@media (min-width: 768px) {
    #cont-register {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}