* {
    font-family: "Inter", sans-serif;
}

.card {
    background: #78B9EB;
}

.logo {
    max-width: 100%;
    height: auto;
}

.btn-i {
    background: #517D9E;
    font-size: 22px;
    color: #fff;
}

.btn-i:hover {
    background: #456C8D;
    color: #fff;
}

.btn-i:active:focus {
    background-color: #456C8D; 
    color: #fff;
}

.form-control {
    font-size: 18px;
    height: 50px;
    color: #2E475A;
    background: #FFF;
}

.form-control::placeholder {
    color: #2E475A;
}

label {
    color: #2E475A;
    font-size: 18px;
}

#passwordHelp {
    font-size: 16px;
    color: #2E475A;
}

.register {
    color: #2E475A;
}